

<section class="action">
    <div class="box-container">
        <div class="box">
            <a class="btn" [routerLink]="['/dashboard/agent/']">Client</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn">Genre</a>
            </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn">Assure</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn"> Price</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn"> Price</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn"> Price</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn"> Price</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <a class="btn"> Price</a>
        </div>
    </div>
</section>

