<app-render></app-render>
<section class="agent">
<table class="customers">
    <thead>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
      <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td data-title="Company">Alfreds Futterkiste</td >
      <td data-title="Contact">Maria Anders</td>
      <td data-title="Country">Germany</td>
      <td data-title="Action">
       <tr>
         
          <td><button type="button"  class="btn"><i class="fas fa-check"></i>

          </button></td>
         
        <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>

        </button></td>
       </tr>
      </td>

      
    </tr>
    <!-- <tr>
      <td data-title="Company">Berglunds snabbköp</td >
      <td data-title="Contact">Christina Berglund</td >
        <td data-title="Action">Germany</td>
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
      </tr>
    <tr>
      <td data-title="Company">Centro comercial Moctezuma</td>
      <td data-title="Contact">Francisco Chang</td >
      <td data-title="Country">Mexico</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Ernst Handel</td >
      <td data-title="Contact">Roland Mendel</td >
      <td data-title="Country">Austria</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr> -->
    <!-- <tr>
      <td data-title="Company">Island Trading</td >
      <td data-title="Contact">Helen Bennett</td >
      <td data-title="Country">UK</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Königlich Essen</td >
      <td data-title="Contact">Philip Cramer</td >
      <td data-title="Country">Germany</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Laughing Bacchus Winecellars</td >
      <td data-title="Contact">Yoshi Tannamuri</td >
      <td data-title="Country">Canada</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Magazzini Alimentari Riuniti</td >
      <td data-title="Contact">Giovanni Rovelli</td >
      <td data-title="Country">Italy</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">North/South</td >
      <td data-title="Contact">Simon Crowther</td >
      <td data-title="Country">UK</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr> -->
    <!-- <tr>
      <td data-title="Company">Paris spécialités</td >
      <td data-title="Contact">Marie Bertrand</td >
      <td data-title="Country">France</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Alfreds Futterkiste</td >
      <td data-title="Contact">Maria Anders</td>
      <td data-title="Country">Germany</td>
      <td data-title="Action">
        <tr>
         
          <td><button type="button"  class="btn"><i class="fas fa-check"></i>

          </button></td>
         
        <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>

        </button></td>
       </tr>
       </td>
      
    </tr>
    <tr>
      <td data-title="Company">Berglunds snabbköp</td >
      <td data-title="Contact">Christina Berglund</td >
      <td data-title="Country">Sweden</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Centro comercial Moctezuma</td>
      <td data-title="Contact">Francisco Chang</td >
      <td data-title="Country">Mexico</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Ernst Handel</td >
      <td data-title="Contact">Roland Mendel</td >
      <td data-title="Country">Austria</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Island Trading</td >
      <td data-title="Contact">Helen Bennett</td >
      <td data-title="Country">UK</td >
    </tr>
    <tr>
      <td data-title="Company">Königlich Essen</td >
      <td data-title="Contact">Philip Cramer</td >
      <td data-title="Country">Germany</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Laughing Bacchus Winecellars</td >
      <td data-title="Contact">Yoshi Tannamuri</td >
      <td data-title="Country">Canada</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr> -->
      <!-- <td data-title="Company">Magazzini Alimentari Riuniti</td >
        <td data-title="Contact">Giovanni Rovelli</td >
        <td data-title="Country">Italy</td >
          <td data-title="Action">
            <tr>
           
              <td><button type="button"  class="btn"><i class="fas fa-check"></i>
    
              </button></td>
             
            <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
    
            </button></td>
           </tr>
           </td>
      </tr> -->
    <tr>
      <td data-title="Company">North/South</td >
      <td data-title="Contact">Simon Crowther</td >
      <td data-title="Country">UK</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    <tr>
      <td data-title="Company">Paris spécialités</td >
      <td data-title="Contact">Marie Bertrand</td >
      <td data-title="Country">France</td >
        <td data-title="Action">
          <tr>
         
            <td><button type="button"  class="btn"><i class="fas fa-check"></i>
  
            </button></td>
           
          <td><button type="button"  class="btn-1"><i class="fas fa-trash"></i>
  
          </button></td>
         </tr>
         </td>
    </tr>
    </tbody>
  </table>
  
</section>
<div class="pagination">
  <ul> <!--pages or li are comes from javascript --> </ul>
<p></p>
</div>

